<launch>
	<node name="terpcopter_camera_node" pkg="terpcopter_driver" type="terpcopter_camera_node" >
		<param name="forward_camera_id" type="int" value="0" />
	</node>
        <node name="terpcopter_px4flow_node" pkg="terpcopter_driver" type="terpcopter_px4flow_node" output="screen" respawn="true" clear_params="true">
        	<rosparam file="$(find terpcopter_driver)/launch/px4flow_parameters.yaml"/>
        </node>
</launch>
