<launch>
	<node name="terpcopter_camera_node" pkg="terpcopter_driver" type="terpcopter_camera_node" >
		<param name="forward_camera_id" type="int" value="0" />
	</node>
        <node name="terpcopter_px4flow_node" pkg="terpcopter_driver" type="terpcopter_px4flow_node" output="screen" respawn="true" clear_params="true">
        	<rosparam file="$(find terpcopter_driver)/launch/px4flow_parameters.yaml"/>
        </node>
	<node name="terpcopter_teraranger_node" pkg="terpcopter_driver" type="terpcopter_teraranger_node" >
		<param name="serial_port" type="str" value="/dev/ttyUSB1" />
	</node>
	<node name="serial_node" pkg="rosserial_python" type="serial_node" >
		<param name="~port" value="/dev/ttyUSB0" />
	</node>
	<node name="terpcopter_servo_server" pkg="terpcopter_driver" type="terpcopter_servo_server" >
	</node>

	<arg name="fcu_url" default="/dev/ttyACM2:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

	<include file="$(find terpcopter_driver)/launch/pixhawk.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>

</launch>
